<configuration>

    <!--
        LOG_FORMAT: TEXT (default) or JSON
        LOG_LEVEL:  root level, INFO by default. Single packages can be tuned through micronaut,
                    e.g. LOGGER_LEVELS_ORG_FIWARE_IAM=DEBUG
    -->
    <appender name="TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withSequenceNumber>false</withSequenceNumber>
            <withNanoseconds>false</withNanoseconds>
            <withContext>false</withContext>
            <withArguments>false</withArguments>
            <withMessage>false</withMessage>
            <withFormattedMessage>true</withFormattedMessage>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="${LOG_FORMAT:-TEXT}" />
    </root>
</configuration>
